*.keys
*.cfg
*.iml
*.pyc
*.ini
*.sig
*.jks
*.egg-info
# ignore pickled statistics data:
*.pckl
*.bin
*.cert

.DS_STORE
.idea
.vscode
jwt_token.txt
test-report.xml

temp/
documentation/
build/
dist/
/venv*
Gemfile.lock
docs/_site/
docs/doxygen/html/
